@charset "utf-8";

.top-main-slider-items img {
  width: 100%;
}

.top-main-slider-items-pc {
  display: block !important;
}

@media (max-width: 991px) {
  .top-main-slider-items-pc {
    display: none !important;
  }
}

.top-main-slider-items-sp {
  display: none !important;
}

@media (max-width: 991px) {
  .top-main-slider-items-sp {
    display: block !important;
  }
}

.top-slick-arrow {
  width: 50px !important;
  height: 70px !important;
  overflow: visible !important;
  margin-top: -55px !important;
  background: none !important;
}

.top-slick-arrow-topics {
  width: 35px !important;
  height: 108px !important;
  overflow: visible !important;
  margin-top: -80px !important;
  background: none !important;
}

@media (max-width: 991px) {
  .top-slick-arrow-topics {
    width: 25px !important;
    height: 80px !important;
  }
}

.slick-prev-topics {
  left: 0 !important;
}

.slick-next-topics {
  right: 0 !important;
}


element.style {
    display: block;
}
/* ========================================
	slick
======================================== */
/* Slider */
.slider {
  display: none;
}

.slider.slick-initialized {
  display: block;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 10.4%;
  height: 11.5%;
  margin-top: -20%;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.slick-prev {
  left: 1.333333%;
  background-image: url(../images/character/icon_prev.png);
}

.slick-next {
  right: 1.333333%;
  background-image: url(../images/character/icon_next.png);
}

.slick-dots {
  display: block;
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
  transition-property: bottom, top;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.slick-dots li {
  display: inline-block;
  margin: 0 6px;
  width: 12px;
  height: 12px;
}

.slick-dots li button {
  background: #a2bcc0;
  border: 2px solid #eaf0f1;
  border-radius: 7px;
  color: transparent;
  cursor: pointer;
  opacity: 0.7;
  overflow: hidden;
  padding: 0;
  width: 12px;
  height: 12px;
  transition-property: background-color, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.slick-dots li.slick-active button {
  opacity: 1;
  background-color: #E7397D;
  border: 2px solid #FFF;
}

.slick-dots li:hover button {
  opacity: 0.9;
  background-color: #000;
  border-color: #000;
}

.slick-initialized .slick-slide {
  opacity: 0.5;
  /* 両サイドの画像を透過 */
}

.slick-initialized .slick-slide.slick-active {
  opacity: 1;
  /* センター画像を非透過 */
}

.slick-slide.slick-current {
  opacity: 1;
  /* センター画像を非透過 */
}


.slick-disabled.slick-prev,
.slick-next.slick-disabled {
  background-image: none;
}
